<%- include('header'); -%>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white text-center">
          Great! This time I choose for you a <%= type_suggested%> activity
        </h1>
        <h1 class="text-white text-center">
          You could <%= activity_suggested%>!
        </h1>
      </div>
    </div>
  </div>
</header>
<%- include('footer'); -%>
